.contenedorProductosCreados {
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--altura-header));
  height: fit-content;
  overflow: hidden;
  overflow-y: auto;
}

.loadingTrue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablaProductosCreados {
  width: 100%;
  text-align: center;
}

.encabezadoProductosCreados {
  padding-bottom: 15%;
  border-bottom: 1px solid black;
}

.bodyProductosCreados tr {
  line-height: 25px;
}

.bodyProductosCreados tr:nth-child(even) {
  background: #d8d8d8;
}

.cursor {
  cursor: pointer;
}

.botonEditarProducto:hover {
  cursor: pointer;
  color: #f99716;
}

.botonEliminarProducto:hover {
  cursor: pointer;
  color: red;
}

.renglonVacio {
  padding-top: 2vh;
}
