.contenedorPanelDireccionesUsuario {
  position: relative;
  width: 100%;
  /* min-height: calc(100vh - var(--altura-header)); */

  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloPanelDireccionesUsuario {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2vh 0;
  text-align: center;
}

.tablaPanelDireccionesUsuario {
  width: 100%;
  text-align: center;
  padding: 5vh 0;
}

.encabezadoPanelDireccionesUsuario {
  padding-bottom: 15%;
  border-bottom: 1px solid black;
}

.bodyPanelDireccionesUsuario tr {
  line-height: 25px;
}

.bodyPanelDireccionesUsuario tr:nth-child(even) {
  background: #d8d8d8;
}

.contenedorSpinnerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.botonPanelDireccionesUsuario:hover {
  cursor: pointer;
  color: #f99716;
}

.cursor {
  cursor: pointer;
}

.renglonVacio {
  padding-top: 2vh;
}

.crearNuevaDireccion {
  cursor: pointer;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: 3px solid black;
  padding: 15px;
  background-color: green;
  color: white;
  text-align: center;
}

.crearNuevaDireccion:hover {
  opacity: 0.7;
}

.contenedorCrearDireccion {
  background-color: rgb(201, 201, 201);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: 3px solid black;
  cursor: pointer;
}

.contenedorCrearDireccion:active {
  opacity: 0.7;
}

.tituloCrearDireccion {
  padding: 5%;
  text-align: center;
  font-weight: bold;
}

.signoMas {
  width: 50px;
  height: 50px;
}
