.contenedorDetalle {
  margin: 0 auto;
  margin-top: var(--altura-header);
  height: calc(100vh - var(--altura-header));
  min-height: calc(100vh - var(--altura-header));
  width: 100vw;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombreProductoCel {
  display: none;
}

.contenedorIzquierdo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 59%;
  height: calc(100vh - var(--altura-header) - 10vh);
}

.imagenProducto {
  box-shadow: 0 0 5px 1px rgb(165, 165, 165);
  border-radius: 5px;
  width: 80%;
  height: 100%;
  object-fit: cover; /* Recorta la imagen sin deformarla */
  object-position: center;
}

.contenedorImagenesMiniaturaProducto {
  width: 15%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imagenMiniaturaProducto {
  margin-bottom: 10%;
  cursor: pointer;
  height: 19%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.imagenMiniaturaProducto:last-of-type {
  margin-bottom: 0%;
}

.contenedorDerecho {
  width: 39%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 0;
  /* text-align: center; */
}

.detalles {
  height: 60%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nombreProducto {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: comspotM;
}

.precioProducto {
  font-size: 1.8rem;
  color: #f99716;
}

.contenedorCantidadStock {
  width: 100%;
  display: flex;
}

.contenedorCantidad {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40px;
  font-family: comspotM;
  text-align: center;
}

.tituloCantidad {
  text-align: start;
  margin-bottom: 10%;
}

.selectorCantidad {
  width: fit-content;
  background-color: #efefef;
  display: flex;
  align-items: center;
  height: 40px;
}

.masMenos {
  width: 30px;
  cursor: pointer;
}
.cantidad {
  width: 40px;
}

.descripcion {
  font-family: comspotR;
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  width: 95%;
}

.boton {
  font-family: comspotM;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  width: calc(100% - 40px);
  border-radius: var(--border-radius-boton);
  box-shadow: 0 3px #999;
  outline: none;
  transition: all 0.3s;
  text-align: center;
}

.botonAgregar {
  background-color: #f99716;
  margin-top: 2%;
}

.botonAgregar:hover {
  background-color: #d18015;
}

.botonAgregar:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.botonComprar {
  background-color: #67a49b;
}

.botonComprar:hover {
  background-color: #4e9086;
}

.botonComprar:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.botonSinStock {
  font-family: comspotM;
  font-size: 2rem;
text-align: center;
}

@media (max-width: 800px) {
  .contenedorDetalle {
    flex-direction: column;
  }
  .contenedorIzquierdo {
    width: 50%;
    height: fit-content;
  }
  .nombreProducto {
    display: none;
  }
  .nombreProductoCel {
    display: inline;
    margin: 3% 0;
  }
  .contenedorDerecho {
    /* flex-direction: row; */
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    padding: 0;
  }
  /* .detalles { */
  /* height: 100%; */
  /* width: fit-content;
    justify-content: space-between; */
  /* } */
  /* .botones { */
  /* width: fit-content; */
  /* } */
  .boton {
    font-size: 1rem;
  }
}
