.contenedorTienda {
  width: 100%;
  margin-top: var(--altura-header);
  min-height: calc(100vh - var(--altura-header));
  display: flex;
  flex-direction: column;
  font-family: comspotM;
  background-color: #f5f5f5;
}

/* HERO */
.contenedorHeroTienda {
  width: 100%;
  background-color: black;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contenedorSegundoTienda {
  padding: 0 4% 8%;
}

.tituloTienda {
  font-weight: bold;
  font-size: 2rem;
  margin: 4% 0;
}

.contenedorTerceroTienda {
  display: flex;
  justify-content: flex-start;
}

/* FILTROS SUPERIORES Y TAJETAS */
.contenedorTarjetasFiltros {
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* TARJETAS */
.contenedorTarjetas {
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
}

@media (max-width: 800px) {
  .contenedorTarjetasFiltros {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contenedorTarjetas {
    grid-template-columns: 50% 50%;
  }
  .tituloTienda {
    font-size: 1.8rem;
  }
}
