.iconoCerrar {
  position: absolute;
  top: 4vh;
  right: 8%;
  cursor: pointer;
  color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.iconoCerrar:hover {
  background-color: red;
  color: white;
}

.iconoCerrar:active {
  opacity: 0.7;
}

.contenedorModalDireccion {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: calc(100% - 6vh);
  background-color: rgba(128, 128, 128, 0.361);
  padding: 3vh 0;
}

.contenedorIntermedioModalDireccion {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 90%; */
}

.formularioModalDireccion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  max-width: 600px;
  min-height: 100%;
  margin: 0 auto;
}

.titulo {
  font-size: 2rem;
  font-family: comspotM;
  padding: 5% 0;
  text-align: center;
}

.renglon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.itemRenglon {
  max-width: 48%;
  margin-top: 5%;
}

.divInputSelect {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 45%;
}

.inputSelect {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 2px;
  width: calc(100%);
  height: 30px;
  font-size: 100%;
}

/* TEXT AREA */
.textareaLabelModificar {
  margin-top: 5%;
  width: 100%;
}

.input {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 5px 10px;
  width: calc(100% - 20px);
  font-size: 100%;
  font-family: "Rubik", sans-serif;
  resize: none;
}

.msjError {
  font-size: 0.75rem;
  width: 100%;
}

.error {
  color: red;
  border-color: red;
}

.input.error.input::placeholder {
  color: red;
}

/* BOTON MODIFICAR */
.botonModificar {
  margin: 5% 0;
  min-width: fit-content;
  min-height: 30px;
  background-color: #f99716;
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius-boton);
  font-family: comspotM;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 10px 24px;
  color: #fff;
  transition: all 150ms ease;
}

.botonModificar:active {
  background-color: #1e1e1e;
}

.botonModificar:hover {
  opacity: 0.7;
}

.botonModificar:disabled {
  opacity: 0.5;
}

.botonBorrarDireccion {
  background-color: red;
  margin: 0 0 3%;
  width: fit-content;
}

.contenedorLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* margin: 5% 0; */
  margin: 5% 0;
}

.contenedorLoader:last-of-type {
  margin-bottom: 3%;
}
