.contenedorPanelUsuarios {
  position: relative;
  width: calc(100vw - 15vw);
  min-height: calc(100vh - var(--altura-header));
  height: fit-content;
  overflow: hidden;
  overflow-y: auto;
}

.loadingTrue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablaPanelUsuarios {
  width: 100%;
  text-align: center;
}

.encabezadoPanelUsuarios {
  padding-bottom: 15%;
  border-bottom: 1px solid black;
}

.bodyPanelUsuarios tr {
  line-height: 25px;
}

.bodyPanelUsuarios tr:nth-child(even) {
  background: #d8d8d8;
}

.contenedorSpinnerSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.botonComprasUsuario:hover {
  cursor: pointer;
  color: #f99716;
}

.cursor {
  cursor: pointer;
}

.renglonVacio {
  padding-top: 2vh;
}
